# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Leaderboard.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\_BrainStation\JagadishBasu\jagadishbasu\Assets\Jagadish Basu Game\Scripts\Leaderboard\.idea\.idea.Leaderboard.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
